In [2]:
import pandas as pd
import numpy as np 
import dabl
import seaborn as sns
import matplotlib.pyplot as plt

## join fte+scores to cencus_poverty 

Notebook # 3 

- 1 = connect scores to school labels
- 2 = connect labeled scores to staffing-- and district data? (fte)
- 3 = connect all school data to community poverty data from cencus
- 4= connect all school community data to yelp community data

In [5]:
comdf = pd.read_csv('../../data/processed/fte_cleaned_labels.csv')

In [6]:
cen = pd.read_excel('../../data/raw/ussd20.xls',header=2)
cen = cen[cen['State Postal Code']=='CA']
cen.rename(columns={'Name':'District Name'},inplace=True)
cen.rename(columns={'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder':'est_num_u17_pov'},inplace=True)
cen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 942 entries, 644 to 1585
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State Postal Code           942 non-null    object
 1   State FIPS Code             942 non-null    int64
 2   District ID                 942 non-null    int64
 3   District Name               942 non-null    object
 4   Estimated Total Population  942 non-null    int64
 5   Estimated Population 5-17   942 non-null    int64
 6   est_num_u17_pov             942 non-null    int64
dtypes: int64(5), object(2)
memory usage: 58.9+ KB

In [104]:
# fte['District Name'] = fte['District Name'].astype(str).str.lower()
cen['District Name'] = cen['District Name'].astype(str).str.lower()
cen['District Name'].sample(4)

1002    indian springs elementary school district
1028                    kern high school district
976            healdsburg unified school district
1303               plumas unified school district
Name: District Name, dtype: object

In [159]:
name = ''
comdf[comdf['District Name'].str.startswith('abc un')][['District Name','School Name']][:4][0:1]

     District Name       School Name
5317   abc unified  Aloha Elementary

In [157]:
name = comdf[comdf['District Name']=='abc unified']['District Name'][:1]
name

5317    abc unified
Name: District Name, dtype: object

In [148]:
cen[cen['District Name'].str.startswith('abc un')][:4]

,State Postal Code,State FIPS Code,District ID,District Name,Estimated Total Population,Estimated Population 5-17,est_num_u17_pov
644,CA,6,1620,abc unified,107291,16966,1984

In [149]:
cen['District Name'] = cen['District Name'].str.replace('school district','')
cen[cen['District Name'].str.startswith('abc')]

,State Postal Code,State FIPS Code,District ID,District Name,Estimated Total Population,Estimated Population 5-17,est_num_u17_pov
644,CA,6,1620,abc unified,107291,16966,1984

In [158]:
cen[cen['District Name'].str.startswith('san jose')]

,State Postal Code,State FIPS Code,District ID,District Name,Estimated Total Population,Estimated Population 5-17,est_num_u17_pov
1376,CA,6,34590,san jose unified,269171,39021,2595

In [163]:
comdf[comdf['District Name']=='san jose unified'][['District Name','School Name']][:4]

          District Name     School Name
18270  san jose unified  Gunderson High
18271  san jose unified  Gunderson High
18272  san jose unified  Gunderson High
18273  san jose unified  Gunderson High

In [92]:
comdf[comdf['District Name']=='alameda county office of education']['District Name']

0    alameda county office of education
1    alameda county office of education
2    alameda county office of education
3    alameda county office of education
Name: District Name, dtype: object

In [58]:
cen[cen['District Name']=='alameda county office of education']

Empty DataFrame
Columns: [State Postal Code, State FIPS Code, District ID, District Name, Estimated Total Population, Estimated Population 5-17, Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder]
Index: []

In [173]:
comdf[comdf['District Name']=='abc unified']['District Name'][:3]

5317    abc unified
5318    abc unified
5319    abc unified
Name: District Name, dtype: object

In [182]:
comnames=comdf['District Name']

len(comnames[0])

34

In [187]:
for i in comnames:
    if i.startswith('abc u'):
        print(i)
        print(len(i))
        skip

abc unified
11

NameError: name 'skip' is not defined

In [191]:
cenname=cen['District Name']
for i in cenname:
    if i.startswith('abc u'):
        print(i)
        print(len(i))
        skip

abc unified
11

NameError: name 'skip' is not defined

In [193]:
## needed to remove extra blank from cen to have the two columns match - took to long

In [190]:
cen['District Name'] = cen['District Name'].str.rstrip()

In [174]:
cen[cen['District Name'].str.startswith('abc')]

,State Postal Code,State FIPS Code,District ID,District Name,Estimated Total Population,Estimated Population 5-17,est_num_u17_pov
644,CA,6,1620,abc unified,107291,16966,1984

In [170]:
cen[cen['District Name']=='abc unified']

Empty DataFrame
Columns: [State Postal Code, State FIPS Code, District ID, District Name, Estimated Total Population, Estimated Population 5-17, est_num_u17_pov]
Index: []

In [ ]:
comf = district code / cen = district ID

## code dont match

In [192]:
join = comdf.merge(cen,on='District Name',how='inner')
join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22527 entries, 0 to 22526
Data columns (total 53 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Unnamed: 0                                                   22527 non-null  int64
 1   Unnamed: 0.1                                                 22527 non-null  int64
 2   County Code                                                  22527 non-null  int64
 3   District Code                                                22527 non-null  int64
 4   School Code                                                  22527 non-null  int64
 5   Test Year_x                                                  22527 non-null  int64
 6   Student Group ID                                             22527 non-null  int64
 7   Total Tested at Reporting Level                              21586 non-null  float64
 8   Total Tested with Scores at Reporting Level                  21575 non-null  float64
 9   Grade                                                        22527 non-null  int64
 10  Test ID                                                      0 non-null      float64
 11  Students Enrolled                                            21341 non-null  float64
 12  Students Tested                                              20489 non-null  float64
 13  Mean Scale Score                                             13123 non-null  float64
 14  Percentage Standard Exceeded                                 18486 non-null  float64
 15  Percentage Standard Met                                      18486 non-null  float64
 16  Percentage Standard Met and Above                            18486 non-null  float64
 17  Percentage Standard Nearly Met                               18486 non-null  float64
 18  Percentage Standard Not Met                                  18486 non-null  float64
 19  Students with Scores                                         20478 non-null  float64
 20  Area 1 Percentage Above Standard                             15264 non-null  float64
 21  Area 1 Percentage Near Standard                              15264 non-null  float64
 22  Area 1 Percentage Below Standard                             15264 non-null  float64
 23  Area 2 Percentage Above Standard                             15264 non-null  float64
 24  Area 2 Percentage Near Standard                              15264 non-null  float64
 25  Area 2 Percentage Below Standard                             15264 non-null  float64
 26  Area 3 Percentage Above Standard                             15264 non-null  float64
 27  Area 3 Percentage Near Standard                              15264 non-null  float64
 28  Area 3 Percentage Below Standard                             15264 non-null  float64
 29  Area 4 Percentage Above Standard                             15264 non-null  float64
 30  Area 4 Percentage Near Standard                              15264 non-null  float64
 31  Area 4 Percentage Below Standard                             15264 non-null  float64
 32  Type ID_x                                                    22527 non-null  int64
 33  Test Year_y                                                  22527 non-null  int64
 34  Type ID_y                                                    22527 non-null  int64
 35  County Name                                                  22527 non-null  object
 36  District Name                                                22527 non-null  object
 37  School Name                                                  22527 non-null  object
 38  Zip Code                                                     22527 non-null  float64
 39  State Name [District] Latest available year                  22527 non-null  object
 40  State Name [District] 2020-21                                22527 non-null  object
 41  Agency ID - NCES Assigned [District] Latest available year   22527 non-null  float64
 42  County Name [District] 2020-21                               22527 non-null  object
 43  Total Students, All Grades (Excludes AE) [District] 2020-21  22513 non-null  float64
 44  Full-Time Equivalent (FTE) Teachers [District] 2020-21       22513 non-null  float64
 45  Pupil/Teacher Ratio [District] 2020-21                       22499 non-null  float64
 46  _merge                                                       22527 non-null  object
 47  State Postal Code                                            22527 non-null  object
 48  State FIPS Code                                              22527 non-null  int64
 49  District ID                                                  22527 non-null  int64
 50  Estimated Total Population                                   22527 non-null  int64
 51  Estimated Population 5-17                                    22527 non-null  int64
 52  est_num_u17_pov                                              22527 non-null  int64
dtypes: float64(29), int64(16), object(8)
memory usage: 9.3+ MB

In [194]:
join[join['District Name']=='abc unified']

,Unnamed: 0,Unnamed: 0.1,County Code,District Code,School Code,Test Year_x,Student Group ID,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,"Total Students, All Grades (Excludes AE) [District] 2020-21",Full-Time Equivalent (FTE) Teachers [District] 2020-21,Pupil/Teacher Ratio [District] 2020-21,_merge,State Postal Code,State FIPS Code,District ID,Estimated Total Population,Estimated Population 5-17,est_num_u17_pov
4769,5317,9020,19,64212,6010862,2021,1,7.0,7.0,6,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4770,5318,9021,19,64212,6010862,2021,1,7.0,7.0,13,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4771,5319,9022,19,64212,6010862,2021,1,7.0,7.0,6,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4772,5320,9023,19,64212,6010862,2021,1,7.0,7.0,13,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4773,5321,9024,19,64212,6010904,2021,1,16.0,16.0,6,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4864,5412,9115,19,64212,6093447,2021,1,35.0,35.0,13,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4865,5413,9116,19,64212,6093454,2021,1,32.0,32.0,6,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4866,5414,9117,19,64212,6093454,2021,1,32.0,32.0,13,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4867,5415,9118,19,64212,6093454,2021,1,32.0,32.0,6,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984
4868,5416,9119,19,64212,6093454,2021,1,32.0,32.0,13,...,19540.0,822.59,23.75,both,CA,6,1620,107291,16966,1984

In [195]:
join.to_csv('../../data/processed/pov_added.csv')